.input{
    width: 100%;
    padding: 0.625rem;
    border: 0.07rem solid var(--cor-divisor);
    border-radius: 0.20rem;
    font-family: var(--fonte-padrao);
    color:var(--cor-texto-principal);
    background-color: #ffff;
    transition: border-color 0.3s ease;




}

.input:focus{
    outline: none;
    border: var(--cor-primaria);
    box-shadow: 0 0 0 0 0.1rem var(--cor-primaria-clara);

}

.input:disabled{
    background-color: var(--cor-secundaria);
    color: var(--cor-texto-secundario);
    cursor: not-allowed;


}